/* Root start */

:root {
    --CR: 'CR';
    --CB: 'CB';
    --MR: 'MR';
    --MB: 'MB';
    --RM: 'RM';
    --RR: 'RR';
    --white:#FFFFFF;
    --grey: #C8C8C8;
    --orange: #F18128;
    --blue: #040D1F;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: var(--blue);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

.btn {
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-family: var(--RM);
    line-height: 12px;
    max-width: 166px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background 300ms, color 300ms;
}
.btn:hover {
    background: var(--orange);
    color: var(--black);
}
.title {
    color: var(--orange);
    font-size: 36px;
    line-height: 40px;
    font-family: var(--CR);
    text-transform: capitalize;
    width: max-content;
    margin-top: 60px;
    margin-bottom: 60px;
}
.title::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--orange);
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--orange), purple);
    border-radius: 30px;
}

/* Root end */
/* ********************* */
/* Header start */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header__prenav {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.header__prenav-icon {
    font-size: 50px;
    color: var(--white);
    margin-right: 24px;
}
.header__prenav-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    font-family: var(--CR);
    max-width: 166px;
    width: 100%;
}
.header__nav {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
}
.header__nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__span {
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    font-family: var(--CB);
    margin-left: 5px;
}
.header__nav-list {
    display: flex;
    height: 100px;
    column-gap: 30px;
}
.header__nav-link {
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    font-family: var(--MR);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: color 300ms;
}
.header__nav-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px 3px 0 0;
    transition: width 300ms;
}
.header__nav-link:hover {
    color: var(--orange);
}
.header__nav-link:hover::after {
    width: 100%;
}
.header__content{
    position: relative;
    flex-grow: 1;
    background: rgba(7, 15, 25, 0.75);
    display: flex;
    align-items: center;
}
.header__content-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.header__content-title{
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
    font-family: var(--MB);
}
.header__content-text {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: var(--grey);
    font-family: var(--MR);
    max-width: 570px;
    width: 100%;
    margin: 30px 0 50px 0;
}
.header__content-btns {
    display: flex;
    column-gap: 30px;
}


/* Header end */
/* *********************** */
/* Main start */

.main__films{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: 370px;
}
.main__films-item {
    position: relative;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    overflow: hidden;
  
}
.main__films-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 55px 14px 18px 14px;
}
.main__films-img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    transition: transform 500ms;
}
.main__films-play {
    font-size: 45px;
    color: var(--white);
}
.main__films-time {
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--MR);
    margin-top: 12px;
    margin-bottom: 38px;
}
.main__films-title{
    font-size: 22px;
    line-height: 27px;
    color: var(--white);
    font-family: var(--MR);
    font-weight: 400;
    margin-bottom: 12px;
}
.main__films-text{
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    font-family: var(--RR);
    max-height: 150px;
    overflow: auto;
}
.main__films-text::-webkit-scrollbar-thumb {
    background: transparent;
}
.main__films-item:hover .main__films-img {
    transform: scale(1.2);
}
.section__intro {
    position: relative;
    margin-top: 80px;
    padding-top: 42px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}
.section__intro-text {
    font-size: 18px;
    line-height: 27px;
    font-family: var(--RR);
    margin: 50px 0;
    text-align: justify;
    max-width: 558px;
    width: 100%;
}
.video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    height: 100%;
}
.video__intro {
    height: 100%;
}
.collection__catalog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    grid-auto-rows: minmax(200px, auto);
}
.collection__item {
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    overflow: hidden;
}
.collection__item-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.collection__item-img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -2;
    transition: transform  300ms;
}
.collection__item-title {
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
    font-family: var(--CB);
    margin-top: 15px;
}
.collection__item-info::before {
    content: '';
    display: block;
    background: url(../images/boxes.png) no-repeat;
    width: 20px;
    height: 90%;
    position: absolute;
    left: 7px;
    top: 7px;
}

.collection__item-info::after {
    content: '';
    display: block;
    background: url(../images/boxes.png) no-repeat;
    width: 20px;
    height: 90%;
    position: absolute;
    right: 7px;
    top: 7px;
}

.collection__item:hover .collection__item-img {
    transform: scale(1.2);
}


.series__catalog {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    grid-auto-rows: 190px;
}
.series__item {
    position: relative;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.series__item:nth-of-type(6n + 1) {
    grid-column: span 4;
    grid-row:  span 2;
    padding: 0 22px;
}
.series__item:nth-of-type(6n + 2) {
    grid-column: span 2;
    grid-row: span 2;
}
.series__item:nth-of-type(6n + 1) .series__item-title {
    font-size: 40px;
    line-height: 45px;
}
.series__item-text {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--CR);
    color: var(--white);
    text-align: center;
    margin: 30px 0;
}

.series__item-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transition: transform 300ms;
}
.series__item-title{
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    font-family: var(--CB);
    margin-top: 20px;
}
.series__item:hover .series__item-img {
    transform: scale(1.2);
}
.main {
    margin-bottom: 65px;
}


/* Main end */
/* ******************* */
/* Footer start */

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 25px 0;
}
.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left img:first-of-type {
    margin-right: 50px;
}
.footer__right-text{
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    font-family: var(--CB);
}


/* Footer end */
/* ****************** */